---
layout: default
---
<div id="lightning"></div>
<script src="https://hc-tp-hoc--175d5aaeb4d-developer-edition.ap18.force.com/lightning/lightning.out.js"></script>
<script>
     $Lightning.use("c:uploadFileApp", function() {
        $Lightning.createComponent("c:uploadFile", {
             name : "Upload File"
            },
              "lightning",
              function(cmp) {
                console.log("LWC component was created");
              }
          );
        },
       'https://hc-tp-hoc--175d5aaeb4d-developer-edition.ap18.force.com/'
      );
</script>
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
    <hr />
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>


